# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environment variables
.env

# Static/media files
staticfiles/
media/

# IDE / editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Tests / coverage
.coverage
htmlcov/
.pytest_cache/

# Migrations cache
*/migrations/__pycache__/